.places { 
	max-width: 1000px;
	margin: 0px auto;
	font-size: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 60px;
}
.places h1 {
	width: 100%;
	padding-left: 22px;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid red;
	border-radius: 4px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.places article h2 {

	font-size: 30px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-left: 30px;
}

.places article div.price_by_night {
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 50%;
	max-width: 80px;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	text-align: center;
	line-height: 60px;
}
.places article div.information {
	width: 100%;
	height: 80px;
	border: 1px solid #DDDDDD;
	border-left: none;
	border-right: none;
	display: flex;
	float: left;
	font-size: 12px;
}

div.information div.max_guest, div.information div.number_rooms, div.information div.number_bathrooms {
	width: 100px;
	background-repeat: no-repeat;
	background-position: center top;
	margin: 4px auto;
	text-align: center;
	line-height: 9em;
}
div.information div.max_guest {
	background-image: url(../images/icon_group.png);
}
div.information div.number_rooms {
	background-image: url(../images/icon_bed.png);
}
div.information div.number_bathrooms {
	background-image: url(../images/icon_bath.png);
}

.user, .description {
	font-size: 14px;
	margin: 2px 0px;
}

.places article div.amenities, .places article div.reviews {
	margin-top: 40px;
	width: 100%;
} 
.places article div.amenities h2, .places article div.reviews h2 {
	font-size: 16px;
	border-bottom: 1px solid #DDDDDD;
	text-align:left;
	padding-left: 0px;
	padding-bottom: 10px;

}

article div.amenities ul, div.reviews ul {
	padding: 0px;
	display: block;
}
article div.amenities ul {
	margin-bottom: 0px;
}
article div.amenities ul li, article div.reviews ul li {
	list-style: none;
}
article div.amenities ul li {
	height: 25px;
	width: 25px;
	background-repeat: no-repeat;
	background-position: center left;
	background-size: cover;
}

div.amenities ul li.TV {
	background-image: url(../images/icon_tv.png);
}
div.amenities ul li.Wifi {
	background-image: url(../images/icon_wifi.png);
}
div.amenities ul li.Peta {
	background-image: url(../images/icon_pets.png);
}
div.reviews ul li h3 {
	font-size: 14px;
}
div.reviews ul li p , article div.amenities ul li p {
	font-size: 12px;
}
div.amenities ul li p {
	width: 100px;
	margin-left: 40px;
	padding-top: 8px;
}
