html {
  position: relative;
}
body {
  margin: 0;
  padding: 0;
  color: #484848;
  font-size: 14px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

