.places { 
	max-width: 1000px;
	margin: 0px auto;
	font-size: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.places h1 {
	width: 100%;
	padding-left: 22px;
    margin-bottom: 1px;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid red;
	border-radius: 4px;
	display: flex;
	justify-content: center;
}

.places article h2 {

	font-size: 30px;
}
